header{
    background-color: rgb(77, 77, 77);
    text-align: center;
    color: gainsboro;
}

h1{
    color: white;
    padding: 25px;
    padding-top: 15px;
    margin-bottom: 0rem;
}
#rightSide{
    display: none;
}
.container{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: lightsteelblue;
    border-radius: 25px;
    border-color: black;
    border-width: 5px;
}
.submit{
    float: right;
}
.cityBtn{
    padding: 5px;
    width: 80%;
    margin-bottom: 5px;
}
.foreCast{
    padding: 20px;
}
.panel{
    color: white;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
    background-color: dodgerblue;
    height: 150px;
}
footer {
    /*


    */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;

    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(77, 77, 77);
    color: gainsboro;
}